﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />

    <title>@ViewBag.Title</title>
 


    <link rel="stylesheet" media="all" href="@Url.Content("~/Content/bootstrap.css")" />
    <link rel="stylesheet" media="all" href="@Url.Content("~/Content/datepicker.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/main.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.1.min.js")"></script>     
</head>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">TaskList</a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Выйти", "LogOff", "Account", null, new { @class = "navbar-link" })
                        ;
                    }
                </p>
                 <ul class="nav" id="navbar">
                    <li >@Html.ActionLink("Домой","Index","Task")</li>
                    <li>@Html.ActionLink("О проекте","About","Home")</li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<body>

    @RenderBody()

    <div class="modal hide" id="task-popup"></div>

</body>

<link rel="Stylesheet" media = "all" href="@Url.Content("~/Content/Site.css")" />
</html>
