﻿@model InoList.Models.Error

@{
    ViewBag.Title = "title";
}
<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>
        @Model.ErrorText

    </h2>
  @Html.ActionLink("Попробовать снова", "GetVkAuth", "Account", new { @class = "btn btn-primary" })
</body>
</html>