﻿
@{
    ViewBag.Title = "GetVKAuth";
    }
    <div class="head">
    Привет, необходимо войти в систему для доступа к заданному ресурсу
    <br />
    <br />
    @Html.ActionLink("Войти через VK", "GetVkAuth", "Account", new { @class = "btn btn-primary" })

    </div>