﻿@model InoList.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutWithOutScripts.cshtml";
}



@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal" }))

{
    @Html.AntiForgeryToken()    
    <div class="control-group">
    <label class="control-label" for="inputEmail">Ваш Email</label>
    <div class="controls">
      @Html.TextBoxFor(m=>m.Email, new {@class="span3", type="email", required="required"})
       <button type="submit" class="btn">ОК</button>
    </div>
    </div>
}