﻿@model InoList.Models.DataBase.TaskData

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="head">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>TaskData</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExecutorId, "Executor")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ExecutorId", String.Empty)
            @Html.ValidationMessageFor(model => model.ExecutorId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsAlert)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsAlert)
            @Html.ValidationMessageFor(model => model.IsAlert)
        </div>


        <p>
            <input type="submit" value="Save" class="btn"/>
        </p>
    </fieldset>
}
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </p>
}

</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
