﻿@model IEnumerable<InoList.Models.View.ViewTask>
@{
    ViewBag.Title = "Index";
}
<div class="head" />
@Html.Partial("_Menu")
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well">
                <div class="nav nav-list">
                    <ul class="nav nav-list">
                        <li>@Html.ActionLink("Все", "Index")</li>
                        <li>@Html.ActionLink("Входящие", "Index", new { filter = "input" })</li>
                        <li>@Html.ActionLink("Исходящие", "Index", new { filter = "output" })</li>
                    </ul>
                </div>

            </div>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#" id="addTask"><i class="icon-plus"></i> Добавить</a></li>
                <li><a href="#" id="archive"><i class="icon-trash"></i> В архив</a></li>
            </ul>
            <div>
                <div class="alert alert-block alert-error" style="display: none;">
                    <button type="button" class="closeAlert close">×</button>
                    <h4 class="alert-heading">Вы уверены что хотите архивировать?</h4>
                    <p>Все завершенные задачи будут перенесены в архив</p>
                    <p>
                        <a class="btn btn-danger" id="archiveConfirm" href="#">Да</a> <a class="btn closeAlert" href="#">Нет</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="span9">
            @foreach (var m in Model)
            {
                <div class="line tasks">
                    @Html.Hidden("IsOverdue",m.IsOverdue)
                    @Html.Hidden("id", m.Id)
                    <div class="task-checkbox">
                        @Html.CheckBox("IsComplete", m.IsDone, new {@class = "checkbox"})
                    </div>
                   
                    <div class=  "divEditTask" >

                        <div class="task-info">
                            @if (m.ExecutorInicial != null)
                            {
                                <div class="task-user">
                                    <p class="task-user-name" rel="tooltip" title="@m.ExecutorFullName">@m.ExecutorInicial</p>
                                    <img src="@Url.Content(m.ExecutorAvatarPath)" alt="" />
                                </div>
                            }
                            else
                            {
                                 <div class="task-user">
                                    <p class="task-user-name" rel="tooltip" title="Нет исполнителя"> Anonim</p>
                                    <img src="@Url.Content("~/Content/images/user.png")" alt="" />
                                </div>
                            }
                            @if (m.EndDate.HasValue)
                            {
                                <div class="task-data">
                                    <p>@m.EndDate.Value.ToShortDateString()</p>
                                </div>
                            }


                        </div>
                        <div class="task-name">
                            <p>@m.Title</p>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</div>
