﻿@model InoList.Models.DataBase.TaskData
<script type="text/javascript" src="@Url.Content("~/Scripts/pop.js")"></script>


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Информация о задаче</h3>
</div>
<div class="modal-body">
    @using (@Html.BeginForm("Edit", "Task", FormMethod.Post, new { id = "formEdit" }))
    {
        @Html.HiddenFor(model => model.Id)

        <div class="control-group editor-field">
            <div class="pull-left">
                <h4>@Html.DisplayFor(x => x.Title) </h4>
                </div>
            <div class="task-user pull-right">
                <img class="pull-right" src="@Url.Content(Model.Author.AvatarPath)" alt="" />
                <p class="task-user-name pull-right" rel="tooltip" title="@Model.Author.FirstName  @Model.Author.LastName">@Model.Author.FirstName[0].  @Model.Author.LastName[0].</p>
                                    
            </div>
           
            @Html.ValidationMessageFor(model => model.Title, null, new { style = "display:none" })
            
        </div>

       <div class="control-group description">
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description, null, new { style = "display:none" })
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            <input class="text-box single-line " data-val="true" data-val-regex="Введите дату исполнения в формате дд.мм.гггг" data-val-regex-pattern="^(((((0[1-9])|(1\d)|(2[0-9])|(3[0-1])).((0[1-9])|(1[0-2])))|((31-((0[13578])|(1[02])))|((29|30)-((0[1,3-9])|(1[0-2]))))).((20[0-9][0-9]))|(29-02-20(([02468][048])|([13579][26]))))$" id="EndDate" name="EndDate" type="text" value="@if (Model.EndDate != null)
                                                                                                                                                                                                                                                                                                                                                                                            {
                                                                                                                                                                                                                                                                                                                                                                                                  @Model.EndDate.Value.ToShortDateString();
                                                                                                                                                                                                                                                                                                                                                                                            }" />
            @Html.ValidationMessageFor(model => model.EndDate, null, new { style = "display:none" })
        </div>
        <div class="editor-field">
            Вы выполняете эту задачу.
        </div>

        <div class="editor-label">
            <label for="notice">
                Уведомления @if (Model.IsAlert)
                            {
                    @:Включены
                                              }
                            else
                            {
                    @:Выключены
                                              }</label>
        </div>
    }
</div>
<div class="modal-footer">
    <a href="#" class="btn" id="submitEdit">Сохранить</a>
    <a href="#" class="btn btn-primary" data-dismiss="modal">Отмена</a>
</div>
