﻿@model InoList.Models.DataBase.TaskData
<script type="text/javascript" src="@Url.Content("~/Scripts/pop.js")"></script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 display= "none" >Добавить задачу</h3>
</div>
<div class="modal-body">
    @using (@Html.BeginForm("Add", "Task", FormMethod.Post, new { id = "formAdd" }))
    {
    
        <div class="control-group">
            @Html.TextBoxFor(model => model.Title, new { @class = "span4 input-large" })
            @Html.ValidationMessageFor(model => model.Title, null, new { style = "display:none" })
        </div>
        <div class="control-group description">
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description, null, new { style="display:none" })
        </div>

        <div class="control-group ">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-calendar"></i></span>
                <input class="text-box single-line " data-val="true" data-val-regex="Введите дату исполнения в формате дд.мм.гггг"
                    data-val-regex-pattern="^(((((0[1-9])|(1\d)|(2[0-9])|(3[0-1])).((0[1-9])|(1[0-2])))|((31-((0[13578])|(1[02])))|((29|30)-((0[1,3-9])|(1[0-2]))))).((20[0-9][0-9]))|(29-02-20(([02468][048])|([13579][26]))))$"
                    id="EndDate" name="EndDate" type="text" value=""/>
                @Html.ValidationMessageFor(model => model.EndDate, null, new { style = "display:none" })
            </div>
        </div>
     
        <div class="executor">
            <label class="control-label">Исполнитель</label>
            @Html.DropDownList("ExecutorId", String.Empty)
            @Html.ValidationMessageFor(model => model.ExecutorId)
        </div>

        <div class="notice">
            <label class="control-label" for="notice">Уведомления</label>
            @Html.CheckBoxFor(model => model.IsAlert, new { @checked = "checked" })
            @Html.ValidationMessageFor(model => model.IsAlert)        
        </div>
        

    }
</div>
<div class="modal-footer">

    <a href="#" class="btn" id="submitAdd">Добавить</a>
    <a href="#" class="btn btn-primary" id="close" data-dismiss="modal">Отмена</a>
</div>

