﻿@model InoList.Models.RegisterModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutWithOutScripts.cshtml";
}

@using (Html.BeginForm("Add", "Team", FormMethod.Post, new { @class = "form-horizontal" }))
{

@Html.AntiForgeryToken()
    <div class="control-group">
        <label class="control-label" for="inputEmail">Введите Email друга</label>
        <div class="controls">
            @Html.TextBoxFor(m => m.Email, new { @class = "span3", type = "email", required = "required" })
            <button type="submit" class="btn">ОК</button>
            @if (Model.Error != null)
            {
                @Model.Error
            }
            @Html.ValidationMessageFor(x=>x.Email)
        </div>

    </div>
    <div class="control-group">
        <div class="controls">
            @Html.ActionLink("Назад","Index",null, new {@class="btn btn-primary"})
        </div>

    </div>

}