﻿@{
    ViewBag.Title = "Index";
}
@model IEnumerable<InoList.Models.View.ViewUser>
<div class="head" />
@Html.Partial("_Menu")
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well">
                <div class="nav nav-list">
                    <ul class="nav nav-list">
                        <li>@Html.ActionLink("Все", "Index")</li>
                        <li>@Html.ActionLink("В команде", "Index", new { filter = "team" })</li>
                        <li>@Html.ActionLink("Не в команде", "Index", new { filter = "notTeam" })</li>
                    </ul>
                </div>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/Team/Add" id="add-task"><i class="icon-plus"></i>Добавить В команду</a></li>
            </ul>
        </div>
        <div class="span9">
            @foreach (var m in Model)
            {
                <div class="line team">
                    <div class="team-checkbox">
                        @Html.CheckBox("isTeam", m.Team, new { @class = "checkbox"})
                        @Html.Hidden("IsExclude", m.Exclude)
                    </div>
                    <div >
                        @Html.Hidden("id", m.Id)
                        @Html.Hidden("email",m.RecipientEmail)
                        <div class="team-info">
                        @if (m.Confirm == null)
                        {                            
                           <a class="btn pull-left btn-primary" id="ReSend">Пригласить повторно</a>
                        }
                            @if (!m.isSender)
                            {
                             <div class="user-date">
                              @if (m.Invites != null)
                                {
                                    <p>Приглашен @m.Invites.Value.ToShortDateString()</p>
                                }
                                
                                @if (m.Confirm != null)
                                {
                                    <p>Потвердил @m.Confirm.Value.ToShortDateString()</p>
                                }
                                </div>
                            }
                            else if (m.Exclude)
                            {
                                <p> Исключен из команды</p> 
                            }
                            else
                            {
                                <p> Пользователь вас пригласил</p> 
                            }
                            
                        </div>
                        <div class="user-photo">
                            <img src="@Url.Content(m.AvatarPath)" alt="" />
                        </div>
                        <div class="user-data">
                            <p class="user-data-span">@m.FullName</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
