﻿@{
    ViewBag.Title = "About";
}


 <div class="head">
    Проект TaskList. <br />
      1. Зарегистрируйся. <br />
      2. Добавь друга в команду. <br />
      3. Создай задачу. <br />
      4. Работай) <br />

      Разработчик Акользин Д. <br />
                   denakol08@gmail.com <br />
    <br />
    <br />
    @if (User.Identity.IsAuthenticated) { 
    
        @Html.ActionLink("Перейти к работе", "Index", "Task", new { @class = "btn btn-primary" })
    }
    else
    {
    @Html.ActionLink("Войти через VK", "GetVkAuth", "Account", new { @class = "btn btn-primary" })
    }
    </div>