﻿
@{
    ViewBag.Title = "Index";
 }

    <div class="head">
    
    Проект Inolis.
     Для начала работы войдите в систему.
    <br />
    <br />

    @Html.ActionLink("Войти через VK", "GetVkAuth", "Account", new { @class = "btn btn-primary" })

    </div>